<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>

  {% include "shared/_head.html" with context %}
  <!--
   import "_forms.html" as f 
   import '_common_helpers.html' as ch 
 -->
  {% block head %}

  {% endblock head %}
</head>

<body>
  {% block nav %}
  {# child pages should set active_page to the name of the page or root section #}
  {% set active_page = active_page|default('Home') %}
  {% include "shared/_navbar.html" with context %}
  {% endblock %}
  
  {% block pageheader %}
  <div class="row" style="margin-top: 100px;">
      <div class="col-lg-12 text-center">
          <h2 class="disdat">{{page_title}}</h2>
      </div>
  </div>
  {% endblock pageheader %}
  
  {% block fullPage %}
        
    {%- block content -%}

    {%- endblock content -%}

  {% endblock fullPage %}

</body>

{% block footer %}
{% include "shared/_footer.html" %}
{% endblock footer %}
</html>
